
@import url('//fonts.googleapis.com/css?family=Open+Sans');

.coinlens {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 1px 3px #666;
  font-family: "Open Sans", "Lucida Grande", Arial;
  font-size: 14px;
  font-style: normal;
}

.coinlens a {
  color: #666;
  text-decoration: none;
}

.coinlens a:hover {
  color: #333;
  text-decoration: underline;
}

.coinlens .widget-label {
  display: block;
  font-size: 16px;
  color: #aaa;
}

.coinlens.bitcoin-price .price-footer {}

.coinlens.bitcoin-price .price-footer .price-label {
  display: block;
  font-size: 15px;
  color: #888;
}

.coinlens.bitcoin-price .price-footer .price-menu {
  display: none;
  overflow: visible;
}

.coinlens.bitcoin-price .price-value {
  font-size: 18px;
  color: #333;
}

.coinlens.bitcoin-balance .balance {
  display: block;
  font-size: 18px;
  color: #333;
}

.coinlens.bitcoin-balance .balance-value {}

.coinlens.bitcoin-balance .balance-units {}

.coinlens.bitcoin-balance .bitcoin-address {
  display: block;
  color: #888;
}

.coinlens.bitcoin-balance-history .balance-history-chart {}

.coinlens.bitcoin-balance-history .bitcoin-address {
  display: block;
  color: #888;
}

.coinlens.bitcoin-qr-code .qr-container {
  margin: 3px 0 -10px 0;
}

.coinlens.bitcoin-qr-code .qr-code {}

.coinlens.bitcoin-qr-code .qr-footer {}

.coinlens.bitcoin-qr-code .qr-footer .bitcoin-address-short {
  display: block;
  color: #888;
}

.coinlens-tooltip {
  position: absolute;
  border: medium none;
  padding: 3px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: "Arial";
  font-size: 14px;
  font-style: normal;
}
